
#!/usr/bin/php5
php_flag magic_quotes_gpc off  
#сначала отключим эту директиву на случай если она была вкл на сервере и дальше будем сами заниматься безопасностью
#Файл .htaccess - это файл дополнительной конфигурации сервера Apach

#Сначала зададим php интерпритатору правила для обработки специальных символов
#Т.е. мы включаем директиву магические кавычки и тогда интерпретатор ставит обратный слэш автоматически
#для всяких там одинарных кавычек и так далее
#задаеь кодировку для всех страниц возвращаемых нам сервером
AddDefaultCharset utf-8 

#Укажем серверу какую страницу открывать по умолчанию
DirectoryIndex index.php

#Включим модуль перенаправления сервера Apach
RewriteEngine On
#Если пользователь обращается к файлу или папке то перенаправление произойти 
#не должно,поэтому зададим условие
#если не файл
RewriteCond %{REQUEST_FILENAME} !-f
#условие если не папка 
RewriteCond %{REQUEST_FILENAME} !-d 

#Если два условия выше верны то перенаправляем 
RewriteRule ^(.*) index.php 

