<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="
Notice: Undefined variable: description in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 5

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" />
<meta name="keywords" content="
Notice: Undefined variable: keywords in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 6

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" />


<!Для подключения стилей>

Notice: Undefined variable: styles in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 10

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0


<!Для подключения скриптов>

Notice: Undefined variable: scripts in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 17

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0


<title>
Notice: Undefined variable: title in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 23

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

</title>
</head>

<body>
<div class="karkas-main">
<div class="karkas">
	<div class="main">
		<div class="header">
			<a href="/"><img src="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 31

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0


Notice: Use of undefined constant VIEW - assumed 'VIEW' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 31

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLVIEW/images/logo.png" class="logo" alt="Промстрой энерго" /></a>
			<ul class="menu">
            <!Ниже мы сделаем без прохождения циклом а будем напрямую указывать ноиер ячейки и значение надписи>
				<li><a href="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 34

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLcatalog/type/
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 34

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" class="step1"><span class="menu_links_text">
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 34

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

</span></a></li>
				<li><a href="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 35

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLcatalog/type/
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 35

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" class="step2"><span class="menu_links_text1">
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 35

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

</span></a></li>
				<li><a href="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 36

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLcatalog/type/
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 36

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" class="step3"><span class="menu_links_text2">
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 36

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

</span></a></li>
				<li><a href="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 37

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLcatalog/type/
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 37

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

" class="step4"><span class="menu_links_text3">
Notice: Undefined variable: header_menu in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 37

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

</span></a></li>
			</ul>
			<div class="search">
				<p>поиск по сайту:</p>
				<form action="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 41

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLsearch" method="POST">
					<img src="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 42

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0


Notice: Use of undefined constant VIEW - assumed 'VIEW' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 42

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLVIEW/images/loopa.gif" alt="Отправить запрос"/>
					<input class="inpt" type="text" name="txt1"  />
					<input type="image" src="
Notice: Use of undefined constant SITE_URL - assumed 'SITE_URL' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 44

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0


Notice: Use of undefined constant VIEW - assumed 'VIEW' in D:\WebServers\home\localhost\www\ishop\template\default\header.php on line 44

Call Stack:
    0.0687     338816   1. {main}() D:\WebServers\home\localhost\www\ishop\template\default\header.php:0

SITE_URLVIEW/images/search.gif" name="go" />
				</form>
			</div>
		</div>
 	</div>
